#Myvideo {
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
}
.back{
    background: rgba(255, 255, 255, 0.74);
    width: 800px;
    min-width: 800px;
    min-height: 550px;
    margin: 50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10px;
    position: fixed;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 120px;
    height: 120px;
    border: solid 3px;
    border-radius: 11px;
    margin: 3px;
}
h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
}