#Myvideo {
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
}
.back{
    background: rgba(255, 255, 255, 0.74);
    width: 800px;
    min-width: 800px;
    min-height: 575px;
    margin: 50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    border: solid 3px firebrick;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 120px;
    height: 120px;
    border: solid 3px;
    border-radius: 11px;
    margin: 6px;
}
img:hover{
    transform: scale(1.1);
    border: solid 2.7px firebrick;
}
h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
    color: firebrick;
    text-shadow: 2.5px;
}
li{
    font-family: 'Courier New', Courier, monospace;
    color: firebrick;
    text-decoration: bold;
}