#Myvideo {
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
}
.back{
    background: rgba(255, 255, 255, 0.74);
    width: 800px;
    min-width: 800px;
    min-height: 550px;
    margin: 50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    border: solid 3px linear-gradient(0deg,rgba(255, 230, 161, 1) 0%, rgba(88, 250, 52, 1) 100%);
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 120px;
    height: 120px;
    border: solid 3px;
    border-radius: 11px;
    margin: 3px;
}
img:hover{
    transform: scale(1.1);
    border: solid linear-gradient(90deg, rgba(30, 214, 217, 1) 0%, rgba(13, 45, 252, 1) 51%, rgba(74, 211, 236, 1) 100%, rgba(83, 237, 234, 1) 100%, rgba(83, 222, 237, 1) 100%);
}
h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
    color: firebrick;
    text-shadow: 2.5px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: firebrick;
    text-shadow: 2.5px;
    text-decoration-style: bold;
}